.gallery img { padding-bottom: 25px; }
.gallery button:active { color: #333 !important; border-bottom: 0.1px solid #d7d7d7; }
.gallery button { color:#d9d9d9; background-color:transparent;
  text-transform:uppercase; font-size:12px; border-radius:0; }
.btn-active { color: #333 !important; border-bottom: 0.1px solid #d7d7d7; }
.color-item { height: 35px; margin-bottom: 10px; margin-top: 10px;
  border: solid; border-width: 4px; border-radius: 5px; }



#gallery .gallery-item > div{
  /*opacity: 0.89;*/
  filter: blur(0.4px);
  /*filter: grayscale(0.5);*/
}
#gallery .gallery-item > div:hover {
  -webkit-box-shadow: 0px 5px 5px -10px rgba(1, 1, 1, 0.75);
  -moz-box-shadow: 0px 5px 5px -10px rgba(1, 1, 1, 0.75);
  box-shadow: 0px 5px 5px -10px rgba(1, 1, 1, 0.75);
}
#gallery .gallery-item > div:hover {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
  opacity: 1;
  filter: none;
}

.blur-item{
  filter: blur(5px);
}
.grayscale-item {
  filter: grayscale();
}
.generic-style{
  background-color: #0069FF;
  filter: blur(5px);
  filter: grayscale();
}
.generic-style > img{
  filter: blur(5px);
  filter: grayscale();
}
