/*================================
==================================
==================================*/
#gallery .gallery-item{ }
#gallery .gallery-item > a .ek-copy {
  z-index: 12;
  position: absolute;
  right: 20px;
  left: 20px;
  bottom: 0px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#gallery .gallery-item > a .ek-copy h3 {
  margin: 0 0 5px 0;
  padding: 0;
  color: #000;
  font-size: 20px;
  font-weight: 400;
}
#gallery .gallery-item > a .ek-copy p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}
#gallery .gallery-item > a .ek-copy p:last-child {
  margin-bottom: 0;
}
#gallery .gallery-item > a:hover .ek-copy {
  opacity: 1;
  visibility: visible;
  bottom: 20px;
}
#gallery .gallery-item > a:hover {
  -webkit-box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
}
#gallery .gallery-item > a:hover:after {
  opacity: 1;
  visibility: visible;
}
#gallery .gallery-item > a:hover .ek-copy {
  opacity: 1;
  visibility: visible;
  bottom: 20px;
}
#gallery .gallery-item > a:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

































#ek-project .ek-project > a:hover {
  -webkit-box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
}
#ek-project .ek-project > a:hover:after {
  opacity: 1;
  visibility: visible;
}
#ek-project .ek-project > a:hover .ek-copy {
  opacity: 1;
  visibility: hidden;
  bottom: 20px;
}
#ek-project .ek-project > a:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}



/*=============================
===============================
===============================
===============================
===============================
===============================
===============================*/

#ek-project .ek-project > a .ek-copy {
  z-index: 12;
  position: absolute;
  right: 20px;
  left: 20px;
  bottom: 0px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#ek-project .ek-project > a .ek-copy h3 {
  margin: 0 0 5px 0;
  padding: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
#ek-project .ek-project > a .ek-copy p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}
#ek-project .ek-project > a .ek-copy p:last-child {
  margin-bottom: 0;
}
#ek-project .ek-project > a:hover .ek-copy {
  opacity: 1;
  visibility: visible;
  bottom: 20px;
}


/*==============================
================================
================================
================================*/



@media screen and (max-width: 768px) {
  #ek-project .ek-project > a:hover {
    bottom: 0;
  }
  #ek-project .ek-project > a:hover:after {
    opacity: 0;
    visibility: hidden;
  }
  #ek-project .ek-project > a:hover .ek-copy {
    /*bottom: 0;
    padding: 20px;*/
    background: #fff;
  }
  #ek-project .ek-project > a:hover img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  #ek-project .ek-project > a .ek-copy {
    position: relative;
    visibility: hidden;
    opacity: 1;
    /*bottom: 0;*/
    /*color: #000;*/
    margin-top: -30px;
    /*padding: 10px;*/
    background: #000;
  }
  #ek-project .ek-project > a:hover .ek-copy {
    /*bottom: 0;*/
    /*padding: 10px;*/
    visibility: hidden;
    background: #000;
  }
}


/*
hyper hidrosis
*/
