/*
Ekletik Studios
Author: Leo Neto
Date: August 20, 2017

w: https://ekletik.com
e: info@ekletik.com

*/







/*======= Cross Document Styles */
p span {  color: #d7d7d7; text-transform: uppercase; }
p, h1, h2, h3, h4, h5, h6 { font-weight: lighter; }

.center { text-align: center; }
.text-bold { font-weight: bold !important; }
.text-light { font-weight: lighter !important; }

.light-w-border { background: #F8F9FA; border-bottom: 1px solid #eee; }
.white-w-border { background: #FFFFFF; border-bottom: 1px solid #eee; }
.blue-ocean { background: #0069FF; }
.light-grey { background: #F8F9FA; }

.music-symbols::after{ content: "  𝄞";}
.smiley-symbol::after { content: "  😎.";}
.chevron-link::after { content: "›"; display: inline-block; margin-left: 0.25em; }
.code-symbols::before{ font-family:monospace; content:"⌘⇧  ";
font-weight:400; display: inline-block; }
.azinca-flags::after { font-family:monospace;content:"  🇦🇴🇧🇷🇵🇹";
font-weight: 400; display: inline-block; }

.parallax {
  position: relative; width: 100vw; height: 500px;
  background-position: center; background-size: cover;
  background-repeat: no-repeat; background-attachment: fixed;
}
.mini-parallax {
  position: relative; width: 100vw; height: 250px;
  background-position: center; background-size: cover;
  background-repeat: no-repeat; background-attachment: fixed;
}
.parallax-ek-2 { background-image: image('img/icon.png'); }
.parallax-ek   { background-image: url('https://ekletik.com/favicon.ico'); }
.parallax-team { background-image: url('https://images.unsplash.com/photo-1469566918525-f615c354a7eb?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop='); }
.parallax-office-1 { background-image: url('https://images.unsplash.com/photo-1469730268873-dc89e712948a?dpr=2&auto=format&fit=crop&w=1500&h=839&q=80&cs=tinysrgb&crop='); }
.parallax-office-2 { background-image: url('https://images.unsplash.com/photo-1492494712880-a9408cbf8ac8?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');}
.parallax-office-3 { background-image: url('https://burst.shopifycdn.com/photos/university-study-group_4460x4460.jpg'); background-position: bottom;}






/* ====== Navigation Bar */
.navbar-brand { font-weight: bold;}
.navbar-brand { color: #F0D71C !important; }
.navbar-brand span { color: #0069ff; }
/*.navbar-brand span { color: #9013fe; }*/
.navbar-brand img { width: 25px; height: 25px; }
.nav-item a { color: #0069FF !important; }
.active { font-weight: bold !important; }
.navbar-toggler { border: none; }
.navbar-toggler span { color: #0069FF !important; }
.navbar .form-control { max-height: 30px; font-size: 14px; font-weight: lighter; }
.navbar .form-inline button { max-height: 40px; background: none; border: none; }
.navbar input { border-radius: 20px; }
.navbar button > i { color: #0069FF !important; }
@media (max-width: 780px) {
  .navbar form > button { display: none; }
}





/*======= Footer */
footer { height: 150px; }
footer p { font-size: 12px; }
footer span { text-transform: capitalize; }
.footer-copy { color:#000; padding-top: 60px; font-weight: 400; font-size: 16px;}
.footer-copy::before { content: "Ⓒ & Ⓟ "; }
.footer-copy::after { content: "  🇦🇴 🇺🇸 🇨🇦"; }
.footer-menu { padding-top: -70px; }
.footer-menu a::after { content: " | "; }
.footer-menu a:last-of-type::after { content: ""; }
.footer-social { margin-top: -55px; text-align: right; font-size: 30px; }
.footer-social a { color: #000; margin-left: 5px; }
.footer-developer { margin-top: -37px; text-align: right; font-weight:bold; }
.footer-developer::before { content: "⌘⇧  "}
@media (max-width: 780px) {
  .footer-social a { margin-left: 0; font-size: 30px; }
  .footer-social a:last-of-type { display: none; }
}






/*======= Padding and Margins */
.m-minus-60 { margin-top: -150px; }
.m-top-bottom { margin-top: -50px; margin-bottom: 40px; }
.p-img-around img { padding-bottom: 25px; }
.p-top-bottom { padding-top: 70px; padding-bottom: 60px; }
.p-top-10 { padding-top: 10px; }
.p-top-20 { padding-top: 20px; }
.p-top-40 { padding-top: 40px; }
.p-top-60 { padding-top: 60px; }
.p-top-100 { padding-top: 100px; }
.p-bottom-10 { padding-bottom: 10px; }
.p-bottom-20 { padding-bottom: 20px; }
.p-bottom-40 { padding-bottom: 40px; }
.p-bottom-60 { padding-bottom: 60px; }
.p-bottom-100 { padding-bottom: 100px; }
.p-lr-10 { padding-left: 10px; padding-right: 10px; }
.p-tb-40 { padding-top: 40px; padding-bottom: 40px; }
.p-tb-60 { padding-top: 60px; padding-bottom: 60px; }





/*======= Typography */
.heading h1 { font-size: 60px; font-weight: 300; }
.heading h2 { font-size: 40px; font-weight: 300; }
.heading h3 { font-size: 25px; font-weight: 300; }
.heading p  { font-size: 16px; color: #333; margin-top: 10px; }
.heading p>span { font-size: 12px; font-weight: lighter; }
.heading h4>span { font-size: 14px; font-weight: 300; }
.sub-heading h1 { font-size: 60px; font-weight: lighter; }
.sub-heading h2 { font-size: 40px; font-weight: lighter; }
.sub-heading h3 { font-size: 25px; font-weight: lighter; }
.sub-heading p  { font-size: 16px; margin-top: 10px; }
.sub-heading p>span {  font-size: 12px; font-weight: lighter; }
@media (max-width: 780px) {
  .heading h1 { font-size: 40px; font-weight: 300; }
  .heading h2 { font-size: 25px; font-weight: 300; }
  .heading h3 { font-size: 15px; font-weight: 300; }
  .sub-heading h1 { font-size: 40px; font-weight: 300; }
  .sub-heading h2 { font-size: 25px; font-weight: 300; }
  .sub-heading h3 { font-size: 15px; font-weight: 300; }
}


/*======= Blog section */
.blog-section h1 { font-size: 60px; font-weight: 300; }
.blog-section h2 { font-size: 40px; font-weight: 300; }
.blog-section h3 { font-size: 25px; font-weight: 300; }
.blog-section h4 { font-size: 20px; font-weight: 300; }
/*.blog-section p  { font-size: 16px; margin-top: 10px; }*/
.blog-section p>span {  font-size: 12px; font-weight: lighter; }
.blog-section div { padding-bottom: 25px; }
/*.blog-author { width: 400px; height: 400px; border-radius: 500px; }*/
.blog-author img { width: 50px; height: 50px; border-radius: 500px; }
.blog-author-name { margin-top: -35px; margin-left: 65px; }
.blog-author-date { margin-top: -29px; margin-left: 270px; }
.blog-author span { color: #0069ff; }
.blog-section pre { margin: 0px; padding: 0px; }
.circle-service-image { max-width: 210px; max-height: 210px; border-radius: 100px; }
.img-profile { max-width: 210px; max-height: 210px; border-radius: 100px; }
.img-profile-bg { background-position: center; background-size: cover; background-repeat: no-repeat; position:relative; }
.felipe { background-image: url('https://ekletik.com/media/perfis/felipe.jpg'); }
.leo    { background-image: url('https://ekletik.com/media/perfis/leo.jpg'); }
.paulo  { background-image: url('https://ekletik.com/media/perfis/paulo.jpg'); }
@media (max-width: 780px) {
  .blog-section h1 { font-size: 40px; }
  .blog-section h2 { font-size: 25px; }
  .blog-section h3 { font-size: 15px; }
}







/*======= Carousel*/
.carousel-item { max-height: 500px; background: #000; }
.carousel-item img {
  background-position: center; opacity: 0.4;
  filter: blur(1px); -webkit-filter: blur(1px); }
.carousel-control-next { display: none; }
.carousel-control-prev { display: none; }
.carousel-caption h1 { font-size: 60px; }
.carousel-caption h1 span { font-family: 'Encode Sans', sans-serif; }
/*.main-carousel ol { margin-left: -67%; display: none; }*/
@media (max-width: 780px) {
  .main-carousel {margin-top: 16px; }
  .carousel-caption h1 {font-size: 40px; }
}





/*======= Gallery: check galeria.css */






/*======= Extra Styles */
/*.team-image { width: 200px; height: 200px; border-radius: 1000px; }*/
/*#equipa img{box-shadow: -5px -15px 10px #f8f9fa;}*/
#equipa img   { max-width: 300px; max-height: 300px; }
#equipa span  { font-weight: 600; font-size: 16px; }
.form-row div { padding-bottom: 20px; padding-top: 10px; }












/*
==========================================
==========================================
==========================================
==========================================
==========================================
==========================================
==========================================
==========================================
==========================================

-------------------- / -------------------

==========================================
==========================================
==========================================
==========================================
==========================================
==========================================
==========================================
==========================================
==========================================
==========================================
*/



/*======= Stock Fotography  */
/*https://images.unsplash.com/photo-1469566918525-f615c354a7eb?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop= ekletikos */
/*https://images.unsplash.com/photo-1497631388022-bb9fed46bb28?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop= acri usor */
/*https://images.unsplash.com/photo-1469730268873-dc89e712948a?dpr=2&auto=format&fit=crop&w=1500&h=839&q=80&cs=tinysrgb&crop=  house-windows */
/*https://images.unsplash.com/photo-1492494712880-a9408cbf8ac8?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop= house-top */
/*https://images.unsplash.com/photo-1492494712880-a9408cbf8ac8?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop= house-top-crop2 */
