<!DOCTYPE html>

<!--==========================

Author: Leo Neto
Site URL: https://ekletik.com
Date: August 18, 2017

==========================-->


<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Leo Neto @ Ekletik Studios">
    <link rel="icon" href="img/favicon.ico">
    <title>EK Studios</title>
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <!-- Google Fonts: Source Sans Pro and Open Sans -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,900,400,600|Encode+Sans" rel="stylesheet" type="text/css">
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="css/master.css">
  </head>


  <body>

        <!-- NAVIGATION -->
        <div class="white-w-border fixed-top" id="navigation">
            <!-- NAVIGATION BAR AND MENU -->
            <nav class="container navbar navbar-expand-lg navbar-light">
              <!-- <a class="navbar-brand" href="/">Ekletik <span>Studios</span></a> -->
              <a href="/" class="navbar-brand">
                <img src="img/icon-line-blue.png" width="30px" height="30px" alt="Ekletik.">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item"><a class="nav-link" href="empresa.html">Empresa</a></li>
                  <li class="nav-item"><a class="nav-link" href="portfolio.html">Portfolio</a></li>
                  <li class="nav-item"><a class="nav-link" href="docs.html">Docs</a></li>
                  <li class="nav-item active"><a class="nav-link" href="contact.html">Contacto</a></li>
                </ul>
                <form class="form-inline" method="POST" action="/results/">
                  <!-- {% csrf_token %} -->
                  <input class="form-control mr-sm-2" type="text" name="keyword" placeholder="Pesquisar..." aria-label="Search">
                  <button class="btn btn-outline-light" type="submit">
                    <i class="fa fa-search text-info"></i>
                  </button>
                </form>

              </div>
            </nav>
        </div>



        <!-- Parallax Hero -->
      <div class="mini-parallax parallax-office-3"></div>



      <div class="container p-top-40 p-bottom-40 heading">
          <p><span>Parla cu noi</span></p>
          <h1>Contacto</h1>
      </div>


      <div class="container p-bottom-60">
        <form id="contactForm">

          <div class="form-row">
            <div class="col">
              <input autofocus type="text" class="form-control" placeholder="Nome">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Sobrenome">
            </div>
          </div>

          <div class="form-row">
              <div class="col-6">
                <input type="text" class="form-control" placeholder="Pais">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Cidade">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Tel.">
              </div>
            </div>

          <div class="form-group">
            <label for="contactEmail"></label>
            <input type="email" class="form-control" id="form-email" placeholder="seunome@example.com" required>
          </div>

          <div class="form-group">
            <!-- <label for="contactText">M</label> -->
            <textarea class="form-control" id="form-message" rows="5" maxlength="300" placeholder="Mensagem [máx. 300 caracteres]" required></textarea>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="subscription">
              Subscreva-me à lista de emails.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="internship">
              Estou interessado em estagiar.
            </label>
          </div>
          <div class="form-check">
            <div class="form-check-button">
              <button type="submit" name="button" class="btn btn-primary">Enviar</button>
            </div>
          </div>


        </form>
      </div>



        <!-- FOOTER -->
        <footer class="bg-light">
          <div class="container">
            <p class="footer-copy">Ekletik Studios</p>
            <p class="footer-menu">
              <a href="#">Empresa</a>
              <a href="#">Portfolio</a>
              <a href="#">Apis</a>
              <a href="#">Docs</a>
            </p>
            <p class="footer-social">
              <a target="_blank" href="https://github.com/ekletik/"><i class="fa fa-github"></i></a>
              <a target="_blank" href="https://www.youtube.com/channel/UCxAIq85nPCo1whr8KYwVJkA"><i class="fa fa-youtube-play"></i></a>
            </p>
          </div>
        </footer>



  <!-- Bootstrap 4 and jQuery-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <!-- <script src="js/functions.js"></script> -->

  <script type="text/javascript">
    $('.carousel').carousel({
        interval: 3000
    });
  </script>



  <script>
  $(function() {
    var $gallery_item = $('#gallery div');
    var $gallery_images = $('#gallery img');
    var $buttons = $('#buttons');
    var tagsArray = {};

    $gallery_images.each(function(){
      var single_image = this;
      var div = this.parentElement;
      var tags = $(this).data('tags');

      if(tags){
          tags.split(',').forEach(function(tagName){
            if(tagsArray[tagName] == null){
              tagsArray[tagName] = [];
            }
            tagsArray[tagName].push(div);
          });
      }
  });

  // ======================================
  // ======================================
  // ======================================
  // ======================================
  // ======================================
  // ======================================
  // ======================================
  // ======================================
  // ======================================
  // ======================================
  // ======================================
  // ======================================
  // ======================================
  // ======================================
  // ======================================
  // ======================================


  // Create a button with the ability to show ALL images.
  // In the event of a click, make the button active, make the other buttons inactive.
  // Make the button able to show the gallery.

  $('<button/>', {
    text: 'Todos',
    class: 'btn active',
    click: function(){
      $(this).addClass('active').siblings().removeClass('active');
      $gallery_item.show();
    }
  }).appendTo($buttons);

  // Get each tag name and create a button with the given text.
  // In the event of a click, make the button active and the others inactive.
  // Show the images under the clicked tag.
  $.each(tagsArray, function(tagName) {
    $('<button/>',{
      text: tagName,
      class: 'btn',
      click: function(){
        $(this).addClass('active').siblings().removeClass('active');
        $gallery_item.hide().filter(tagsArray[tagName]).show();
      }
    }).appendTo($buttons);
  });

  }());
  // C'est fini
  </script>

  </body>
</html>
