<!DOCTYPE html>

<!--==========================

Author: Leo Neto
Site URL: https://ekletik.com
Date: August 18, 2017

==========================-->


<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Leo Neto @ Ekletik Studios">
    <link rel="icon" href="img/favicon.ico">
    <title>EK Studios</title>
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <!-- Google Fonts: Source Sans Pro and Open Sans -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,900,400,600|Encode+Sans" rel="stylesheet" type="text/css">
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="css/master.css">
  </head>








  <body>

        <!-- NAVIGATION -->
        <div class="white-w-border fixed-top" id="navigation">
            <!-- NAVIGATION BAR AND MENU -->
            <nav class="container navbar navbar-expand-lg navbar-light">
              <!-- <a class="navbar-brand" href="/">Ekletik <span>Studios</span></a> -->
              <a href="/" class="navbar-brand">
                <img src="img/icon-line-blue.png" width="30px" height="30px" alt="Ekletik.">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item"><a class="nav-link" href="empresa.html">Empresa</a></li>
                  <li class="nav-item"><a class="nav-link" href="portfolio.html">Portfolio</a></li>
                  <li class="nav-item active"><a class="nav-link" href="docs.html">Docs</a></li>
                  <li class="nav-item"><a class="nav-link" href="contact.html">Contacto</a></li>
                </ul>
                <form class="form-inline" method="POST" action="/results/">
                  <!-- {% csrf_token %} -->
                  <input class="form-control mr-sm-2" type="text" name="keyword" placeholder="Pesquisar..." aria-label="Search">
                  <button class="btn btn-outline-light" type="submit">
                    <i class="fa fa-search text-info"></i>
                  </button>
                </form>

              </div>
            </nav>
        </div>


      <div class="container p-top-100 p-bottom-100 blog-section">

        <div class="p-top-60 p-bottom-40">
          <p><span>Frameworks, Tutoriais</span></p>
          <h1>ReactJS: Vale a Pena?</h1>
          <div class="blog-author">
            <img class="img-fluid" src="https://ekletik.com/media/perfis/paulo.jpg" alt="paulo">
            <h4 class="blog-author-name">Escrito por <a target="_blank" href="https://github.com/pjaime88">Paulo J.</a></h4>
          </div>
        </div>

        <div class="docs-content">
          <div class="col-md-9">
            <!-- <p> -->
              React is all about rendering out some sort of element, say an h1 that says "Hello," and then targeting something on the DOM, like the document body. You can see once we've done that and I hit refresh, that we have "Hello" already rendered out.

              <br><br>

              <pre>
                <code>
                  import React from 'react';

                  class App extends React.Component {
                  render(){
                  return <\h1>Hello World!<\/h1>
                  }
                  }//end App class


                  // Alternative way of doing the same, but with a stateless function
                  // const App = () => <\h1>Hello Stateless World!<\/h1>

                  export default App
                </code>
            </pre>


              <h2>To create an actual component, I'll delete this line. I'll say "div" with an h2 inside of it...</h2>

              <br><br>

              Just as always, you type out "render" and give it a function which is going to return something. Here, I can actually return a div with multiple cards inside of it. If I create one card, then duplicate it over and over and over and hit save, you can see that I get multiple cards on this page. <br>

              Facere laudantium esse delectus ducimus sed soluta est distinctio voluptates at placeat rem, sunt eos, nihil dolor ut voluptatum fuga. Ab autem quaerat earum at tenetur ipsa, aliquam, qui laboriosam, consectetur, est optio ratione quis officia fugit. <br>

              <pre>
                <code>
                Operations to perform:
                Apply all migrations: admin, auth, contenttypes, sessions
                Running migrations:
                Applying contenttypes.0001_initial... OK
                </code>
              </pre>

              Since it doesn't make any sense to just use this h1 as our entire application, let's go ahead and extract it. We'll create a React component. We'll say, "React.createClass." We'll say "render"...You'll be writing "render" a lot...and say "return," which is going to return the element you want to render. We'll go ahead and paste in "Hello." I'll say, "Hello from component." To get this guy in here, we need to give it a name. We'll say, "var App" is our React.createClass. We'll go ahead and say "App" and render out that as an element. When I refresh, you can see "Hello from component."

              <br><br>

              <pre>
                <code>
                  Hash: 0bd4f09244f0e8c60354
                  Version: webpack 3.2.0
                  Time: 56ms
                      Asset     Size  Chunks             Chunk Names
                  bundle.js  2.47 kB       0  [emitted]  main
                     [0] ./src/index.js 0 bytes {0} [built]
                </code>
              </pre>


              Placeat dolorum assumenda magnam, dolore veniam nobis ipsam voluptatum aliquam repellat rerum autem quis, unde iste ea omnis itaque consequuntur quibusdam reiciendis blanditiis perspiciatis cupiditate distinctio sapiente reprehenderit nisi.
            <!-- </p> -->
          </div>
        </div>
      </div>



        <!-- FOOTER -->
        <footer class="bg-light">
          <div class="container">
            <p class="footer-copy">Ekletik Studios</p>
            <p class="footer-menu">
              <a href="#">Empresa</a>
              <a href="#">Portfolio</a>
              <a href="#">Apis</a>
              <a href="#">Docs</a>
            </p>
            <p class="footer-social">
              <a target="_blank" href="https://github.com/ekletik/"><i class="fa fa-github"></i></a>
              <a target="_blank" href="https://www.youtube.com/channel/UCxAIq85nPCo1whr8KYwVJkA"><i class="fa fa-youtube-play"></i></a>
            </p>
          </div>
        </footer>



  <!-- Bootstrap 4 and jQuery-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <!-- <script src="js/functions.js"></script> -->

  </body>
</html>
