<!DOCTYPE html>

<!--==========================

Author: Leo Neto
Site URL: https://ekletik.com
Date: August 18, 2017

==========================-->


<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Leo Neto @ Ekletik Studios">
    <link rel="icon" href="img/icon-line-blue.png">
    <title>EK Studios</title>
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <!-- Google Fonts: Source Sans Pro and Open Sans -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,900,400,600|Encode+Sans" rel="stylesheet" type="text/css">
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="css/master.css">
  </head>








  <body>

        <!-- NAVIGATION -->
        <div class="white-w-border fixed-top" id="navigation">
            <!-- NAVIGATION BAR AND MENU -->
            <nav class="container navbar navbar-expand-lg navbar-light">
              <!-- <a class="navbar-brand" href="/">Ekletik <span>Studios</span></a> -->
              <a href="/" class="navbar-brand">
                <img src="img/icon-line-blue.png" width="30px" height="30px" alt="Ekletik.">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item"><a class="nav-link" href="empresa.html">Empresa</a></li>
                  <li class="nav-item"><a class="nav-link" href="portfolio.html">Portfolio</a></li>
                  <li class="nav-item active"><a class="nav-link" href="docs.html">Docs</a></li>
                  <li class="nav-item"><a class="nav-link" href="contact.html">Contacto</a></li>
                </ul>
                <form class="form-inline" method="POST" action="/results/">
                  <!-- {% csrf_token %} -->
                  <input class="form-control mr-sm-2" type="text" name="keyword" placeholder="Pesquisar..." aria-label="Search">
                  <button class="btn btn-outline-light" type="submit">
                    <i class="fa fa-search text-info"></i>
                  </button>
                </form>

              </div>
            </nav>
        </div>


      <div class="container p-top-100 p-bottom-60 blog-section">

        <div class="p-top-60 p-bottom-40">
          <p><span> 4 de Janeiro de 2017 | Frameworks, Tutoriais, YouTube</span></p>
          <h1>Crie Um Site Com o Django</h1>
          <div class="blog-author">
            <img class="img-fluid" src="https://ekletik.com/media/perfis/leo.jpg" alt="Leo">
            <p class="blog-author-name">Escrito por <a target="_blank" href="https://github.com/oleoneto">Leo Neto</a></p>
            <!-- <h4 class="blog-author-date">4 de Julho de 2017</h4> -->
          </div>
        </div>

        <div class="blog-content">
          <div class="col-md-10 col-sm-12 col-xs-12">
            <!-- <p> -->
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, nisi, dolores. Aliquid voluptatum velit explicabo id hic neque vel accusamus possimus distinctio, molestias qui, quaerat blanditiis obcaecati sit ab odit consequuntur repellendus sint optio, ut harum placeat.

              <br><br>

              Quibusdam eius voluptates cumque ea accusantium itaque, blanditiis asperiores animi. Doloribus vitae placeat ex at aut facere maiores excepturi saepe deleniti iusto autem non ullam cumque sapiente, minima neque molestiae minus porro sequi explicabo eum. <br><br>


              Unde, aperiam eaque ducimus obcaecati soluta ab porro esse repellat consequatur ipsum at, temporibus sint, similique adipisci iusto animi rerum harum. Esse possimus exercitationem adipisci perspiciatis excepturi et quae explicabo, minus ab illum accusamus, maiores praesentium id. Assumenda facere inventore, reprehenderit exercitationem sequi. Assumenda facilis error recusandae? Ad, laborum sed!

              <br><br>

              Voluptatum aspernatur ad autem nesciunt ea distinctio maxime incidunt rem harum error dolorum eaque architecto voluptatibus ipsa dignissimos temporibus, pariatur repellat eveniet est, itaque sit excepturi veritatis commodi. Voluptatum, accusamus quam modi deserunt!

              <br><br>
              <pre>
              <code>
              Performing system checks...

              System check identified no issues (0 silenced).

              You have 13 unapplied migration(s).
              Run 'python manage.py migrate' to apply them.

              June 28, 2017 - 16:52:30
              Django version 1.11, using settings 'PROJECT.settings'
              Starting development server at http://127.0.0.1:8000/
              Quit the server with CONTROL-C.
              </code>
              </pre>

              Sunt tenetur in pariatur, molestias eum voluptatem, doloribus voluptates sit odit quo dolorem voluptate reprehenderit a saepe ex minus quae aspernatur excepturi impedit id atque. Dolore unde, voluptatibus placeat ea eveniet nulla ratione qui numquam aspernatur at saepe deserunt amet incidunt. Fugiat mollitia voluptates, voluptas atque porro quasi temporibus debitis. Reiciendis rerum harum commodi sapiente perferendis. Ab veritatis tempora temporibus commodi libero hic mollitia.

              <br><br>


              <h2>Placeat maxime dolorum est tempora adipisci modi obcaecati illo asperiores harum, excepturi.</h2>

              <br><br>

              Voluptate eius fugit ex tempora commodi dolorum facere quibusdam blanditiis! Minima nulla eum dolore earum beatae iusto totam molestiae, sint. Nam sed eum non eaque quo suscipit velit sapiente distinctio aperiam maiores perspiciatis aliquid deserunt nihil asperiores, maxime, quas eius cum corrupti aut, unde fugit laborum earum accusantium. Eaque reprehenderit libero quidem animi dolorem ratione laborum itaque, tempora at. Dolor optio sint, ratione molestiae aliquam cum est totam reprehenderit explicabo libero ex, consectetur, vero recusandae, sapiente repudiandae tempore. Non similique officiis nobis, perferendis voluptas aliquid ab fuga laboriosam deserunt, officia eveniet consequuntur cupiditate. Repellat architecto corporis consequatur, soluta veritatis alias hic fuga dolores maiores recusandae, quisquam voluptatibus dignissimos deleniti qui? Iusto doloribus, eius at, ab minima libero saepe nostrum nisi laboriosam modi amet beatae maxime deleniti blanditiis quisquam sequi! Esse quod optio quidem deserunt expedita atque deleniti ea dolorum. Error neque, nihil voluptates aperiam ducimus, suscipit veritatis. Ipsam dolore perferendis minus vitae porro itaque totam, aspernatur deserunt qui molestias vel.

              <br><br>

              <pre>
                <code>
                  It worked!
                  Congratulations on your first Django-powered page.

                  Next, start your first app by running python manage.py startapp [app_label].

                  You're seeing this message because you have DEBUG = True.
                </code>
              </pre>

              labore nisi vero, assumenda eveniet asperiores! Quo, est praesentium pariatur quam excepturi enim eligendi recusandae quis maxime magni eveniet adipisci accusamus sint aperiam, voluptatibus quia sunt odio impedit molestiae! Suscipit ipsum, cumque repellat iure, minima at eligendi incidunt nemo esse dolorem magnam in aut vero, doloremque doloribus possimus. <br>


              <pre>
                <code>
                  class Article(models.Model):
                    title   = models.CharField(max_length=100)
                    content = models.TextField()
                    date    = models.DateField(auto_now=True)
                </code>
              </pre>


              Facere laudantium esse delectus ducimus sed soluta est distinctio voluptates at placeat rem, sunt eos, nihil dolor ut voluptatum fuga. Ab autem quaerat earum at tenetur ipsa, aliquam, qui laboriosam, consectetur, est optio ratione quis officia fugit. <br>

              <pre>
                <code>
                Operations to perform:
                Apply all migrations: admin, auth, contenttypes, sessions
                Running migrations:
                Applying contenttypes.0001_initial... OK
                Applying auth.0001_initial... OK
                Applying admin.0001_initial... OK
                Applying admin.0002_logentry_remove_auto_add... OK
                Applying contenttypes.0002_remove_content_type_name... OK
                Applying auth.0002_alter_permission_name_max_length... OK
                Applying auth.0003_alter_user_email_max_length... OK
                Applying auth.0004_alter_user_username_opts... OK
                Applying auth.0005_alter_user_last_login_null... OK
                Applying auth.0006_require_contenttypes_0002... OK
                Applying auth.0007_alter_validators_add_error_messages... OK
                Applying auth.0008_alter_user_username_max_length... OK
                Applying sessions.0001_initial... OK
                </code>
              </pre>

              Facere id tempora, fuga officiis natus eveniet cum temporibus officia quod amet repellendus odit, vel perspiciatis minus eaque explicabo nisi at aliquam dignissimos distinctio non ad autem voluptas! Debitis libero suscipit, excepturi? Dolor, voluptatum aliquid eum. Iste deserunt accusantium dignissimos? Saepe possimus voluptate repellat expedita quibusdam maxime recusandae, eos assumenda facere ab voluptatibus laborum ratione alias deserunt, et sapiente sunt. Numquam magni molestiae eligendi pariatur, deleniti quia modi? Asperiores sunt tempora nostrum vel veniam illum enim, explicabo deserunt ad eligendi saepe consectetur id laborum nulla tempore atque amet, sed magni, numquam.

              <br><br>

              Mollitia cum sit vero voluptatibus, aliquam itaque in odit repudiandae quas error quia, ipsum nisi nostrum beatae id dignissimos repellendus, voluptatum minima numquam veritatis quasi similique natus, consequuntur nihil quos? Quam totam quidem voluptatibus officia, cumque illo! <br><br>

              <pre>
                <code>
                # Import all(*) models from the Blog_App
                # Ignore this import statment if the models have already been added...
                from Blog_App.models import *

                class ArticleAdmin(admin.ModelAdmin):
                  # Sort the articles by title.
                  ordering = ['title']

                  # Properties to be displayed on the table.
                  list_display = ['title', 'date']

                  # Number of articles per page.
                  list_per_page = 20

                # Register the model class and the admin model to the admin panel/dashboard.
                admin.site.register(Article, ArticleAdmin)
                </code>
              </pre>


              Placeat dolorum assumenda magnam, dolore veniam nobis ipsam voluptatum aliquam repellat rerum autem quis, unde iste ea omnis itaque consequuntur quibusdam reiciendis blanditiis perspiciatis cupiditate distinctio sapiente reprehenderit nisi. Possimus eveniet commodi culpa, iusto placeat aspernatur magnam ut tempora harum, error, nobis consequuntur. Labore facilis minus odit sunt possimus rerum exercitationem distinctio adipisci eligendi nemo, numquam ratione ad, iste enim aperiam non ducimus hic, dignissimos similique recusandae. Dolores officiis facilis repellendus earum maxime libero optio veritatis ullam, explicabo iste, voluptate molestias sit voluptatibus laudantium tempora et ea amet eum totam possimus eveniet, maiores at iusto. Omnis ipsa architecto tempora odio fugit nulla rem magnam tempore possimus adipisci. Rerum temporibus ducimus nostrum? Tempore rem, iste corporis at molestiae expedita.
            <!-- </p> -->
          </div>
        </div>
      </div>



        <!-- FOOTER -->
        <footer class="bg-light">
          <div class="container">
            <p class="footer-copy">Ekletik Studios</p>
            <p class="footer-menu">
              <a href="#">Empresa</a>
              <a href="#">Portfolio</a>
              <a href="#">Apis</a>
              <a href="#">Docs</a>
            </p>
            <p class="footer-social">
              <a target="_blank" href="https://github.com/ekletik/"><i class="fa fa-github"></i></a>
              <a target="_blank" href="https://www.youtube.com/channel/UCxAIq85nPCo1whr8KYwVJkA"><i class="fa fa-youtube-play"></i></a>
            </p>
          </div>
        </footer>



  <!-- Bootstrap 4 and jQuery-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <!-- <script src="js/functions.js"></script> -->

  </body>
</html>
