<div class="container p-top-60 p-bottom-60">
                <div class="row">
                  <div class="col-md-8 col-sm-12">
                  <img class="img-fluid" src="https://images.unsplash.com/photo-1477726893383-694b8531c5e7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=1ce9be56f3c8016bd47f6c40e9015f85" alt="">
                  </div>

                  <div class="col-md-4 col-sm-12">
                      <div class="col-md-12 col-sm-12 p-bottom-20">
                      <img class="img-fluid" src="https://images.unsplash.com/photo-1475155000329-a5679839c452?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=ec45d935f820c0d993f6b74bad1aa40c" alt="">
                      </div>
                      <div class="col-md-12 col-sm-12 p-top-40">
                      <img class="img-fluid" src="https://burst.shopifycdn.com/photos/woman-winter-landscape_4460x4460.jpg" alt="">
                      </div>
                  </div>
                </div>
            </div>







<div class="col-lg-4 col-md-4">
  <p>Jan 12, 2017</p>
  <h4>Lorem ipsum.</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum nesciunt recusandae nulla, corrupti minima distinctio.</p>
</div>
<div class="col-lg-4 col-md-4">
  <p>Jan 12, 2017</p>
  <h4>Lorem ipsum.</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quo nam fugiat magnam nesciunt hic!</p>
</div>
<div class="col-lg-4 col-md-4">
  <p>Jan 12, 2017</p>
  <h4>Lorem ipsum.</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure blanditiis consectetur possimus officiis animi, explicabo.</p>
</div>
<div class="col-lg-4 col-md-4">
  <p>Jan 12, 2017</p>
  <h4>Lorem ipsum.</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure blanditiis consectetur possimus officiis animi, explicabo.</p>
</div>





<!-- Recent Projects -->
 <div class="container p-bottom-60">
  <div class="heading">
    <p><span>Anda ver a oficina</span></p>
    <h1>Recent Projects</h1>
    <p>Empresas, agências, profissionais individuais e tudo pelo meio.</p>
  </div>
   <div class="row">
     <div class="col-lg-4 col-md-4 col-sm-4 p-bottom-10">
       <img class="img-fluid" src="https://ekletik.com/media/projectos/Azinca_-_Logo.png">
       <div class="info-card">
         <h4>Azinca Labs</h4>
         <p>Design &amp; Logo | EK</p>
       </div>
     </div>
     <div class="col-lg-4 col-md-4 col-sm-4 p-bottom-10">
       <img class="img-fluid" src="https://ekletik.com/media/projectos/ChatOS.jpg">
       <div class="info-card">
         <h4>ChatOS</h4>
         <p>Design | AngoApp</p>
       </div>
     </div>
     <div class="col-lg-4 col-md-4 col-sm-4 p-bottom-10">
       <img class="img-fluid" src="https://ekletik.com//media/projectos/Metaforas3x.png">
       <div class="info-card">
         <h4>Metáforas</h4>
         <p>Design | EK</p>
       </div>
     </div>
   </div>
 </div>
 <!-- end recent projects -->
