<!DOCTYPE html>

<!--==========================

Author: Leo Neto
Site URL: https://ekletik.com
Date: August 18, 2017

==========================-->


<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Leo Neto @ Ekletik Studios">
    <link rel="icon" href="img/icon-line-blue.png">
    <title>EK Studios</title>
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <!-- Google Fonts: Source Sans Pro and Open Sans -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,900,400,600|Encode+Sans" rel="stylesheet" type="text/css">
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="css/galeria.css">
  </head>









  <body>

        <!-- NAVIGATION -->
        <div class="white-w-border fixed-top" id="navigation">
            <!-- NAVIGATION BAR AND MENU -->
            <nav class="container navbar navbar-expand-lg navbar-light">
              <!-- <a class="navbar-brand" href="/">Ekletik <span>Studios</span></a> -->
              <a href="/" class="navbar-brand">
                <img src="img/icon-line-blue.png" width="30px" height="30px" alt="Ekletik.">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item"><a class="nav-link" href="empresa.html">Empresa</a></li>
                  <li class="nav-item"><a class="nav-link" href="portfolio.html">Portfolio</a></li>
                  <li class="nav-item"><a class="nav-link" href="docs.html">Docs</a></li>
                  <li class="nav-item"><a class="nav-link" href="contact.html">Contacto</a></li>
                </ul>
                <form class="form-inline" method="POST" action="/results/">
                  <!-- {% csrf_token %} -->
                  <input class="form-control mr-sm-2" type="text" name="keyword" placeholder="Pesquisar..." aria-label="Search">
                  <button class="btn btn-outline-light" type="submit">
                    <i class="fa fa-search text-info"></i>
                  </button>
                </form>

              </div>
            </nav>
        </div>



        <!-- CAROUSEL AND SLIDER -->
        <div class="main-carousel p-top-40">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner sub-heading" id="main-carousel">

              <!-- Featured Client Project -->
              <div class="carousel-item active" id="slide1">
                <img class="bkg-cover d-block w-100" src="https://ekletik.com/media/projectos/Azinca_-_Logo.png" alt="First slide">
                <div class="carousel-caption d-md-block m-top-bottom">
                  <h1>Azinca Labs</h1>
                  <p class="azinca-flags"> Escola de programação para falantes de língua portuguesa. </p>
                </div>
              </div>

              <!-- Featured In-house Project -->
              <div class="carousel-item" id="slide2">
                <img class="bkg-cover d-block w-100" src="img/M8.jpg" alt="Second slide">
                <div class="carousel-caption d-md-block m-top-bottom">
                  <h1><span>M8</span> (Mate)</h1>
                  <p class="code-symbols"> Colaboração tecnológica consciente e mediada. Open-source pra todos!</p>
                </div>
              </div>

              <!-- Another service -->
              <div class="carousel-item" id="slide3">
                <img class="bkg-cover d-block w-100" src="https://ekletik.com/media/Loja/Albums/Vibrance_Artwork3x_aF0iddw.png" alt="Third slide">
                <div class="carousel-caption d-md-block m-top-bottom">
                  <h1 class="music-symbols">Vibrance</h1>
                  <p>Um álbum experiemental com músicas produzidas electronicamente.</p>
                </div>
              </div>
            </div>

          </div>

          <!-- Controls -->
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <!-- end carousel -->



        <!-- Gallery -->
        <div class="gallery bg-white p-bottom-60">
        <div class="container">

          <div class="heading p-top-60">
            <p><span>Anda ver a oficina</span></p>
            <h1>Projectos</h1>
          </div>

          <div id="buttons" class="p-top-10 p-bottom-40"></div>

          <div class="row p-bottom-10" id="gallery">

            <a href="#" class="animated fadeInUp level-1 gallery-item col-md-4 col-sm-6 col-xs-12">
              <div>
                <img class="img-fluid" src="https://ekletik.com/media/projectos/ek-xbola.jpg" data-tags="Apps" alt="XBola">
              </div>
            </a>

            <a href="#" class="animated fadeInUp level-1 gallery-item col-md-4 col-sm-6 col-xs-12">
              <div>
                <img class="img-fluid" src="https://ekletik.com/media/projectos/Metaforas3x.png" data-tags="Capas" alt="Metaforas">
              </div>
            </a>

            <a href="#" class="animated fadeInUp level-1 gallery-item col-md-4 col-sm-6 col-xs-12">
              <div>
                <img class="img-fluid" src="https://ekletik.com/media/projectos/Artboard2x.jpg" data-tags="Apps" alt="ChatOS">
              </div>
            </a>

            <a href="#" class="animated fadeInUp level-2 gallery-item col-md-4 col-sm-6 col-xs-12">
              <div>
                <img class="img-fluid" src="https://ekletik.com/media/projectos/Azinca_-_Logo.png" data-tags="Marcas" alt="Azinca">
              </div>
            </a>

            <a href="#" class="animated fadeInUp level-2 gallery-item col-md-4 col-sm-6 col-xs-12">
              <div>
                <img class="img-fluid" src="https://ekletik.com/media/projectos/Vibrance_Artwork3x.png" data-tags="Capas" alt="Vibrance">
              </div>
            </a>

          <a href="#" class="animated fadeInUp level-2 gallery-item col-md-4 col-sm-6 col-xs-12">
            <div>
                <img class="img-fluid" src="https://ekletik.com/media/projectos/ek-pontolivre.jpg" data-tags="Marcas" alt="Ponto Livre">
            </div>
          </a>


          </div>
        </div>
        </div>



        <!-- Docs and Blog -->
        <div class="bg-light">
        <div class="container p-top-100 p-bottom-100 heading center">

          <div class="p-bottom-60 col-md-8 m-auto">
            <p><span>Experiência à grosso</span></p>
            <h1>Ekletikamente</h1>
            <p>É missão da Ekletik ajudar empresas e empreendedores a criar
              e manter uma presença sólida e próspera na internet.
              Rabiscar, desenvolver e levar à net. Simples como 3, 2, 1...</p>
          </div>

          <div class="row">

            <div class="col-md-4 animated fadeInUp">
              <img class="circle-service-image p-bottom-20" src="img/design.svg" alt="">
              <h3>Design</h3>
              <p>Desde os rabiscos em papel aos protótipos digitais,
                ajudámo-lo a dar forma às suas ideias e a materializar a sua visão.
                <a href="/portfolio.html">Ver portfolio</a>.</p>
            </div>
            <div class="col-md-4 animated fadeInUp">
              <img class="circle-service-image p-bottom-20" src="img/desenvolvimento.svg" alt="">
              <h3>Desenvolvimento</h3>
              <p>Sejam projectos em idiomas humanos ou em linguagens de programação, iremos guiá-lo seguramente à consolidação do seu projecto.</p>
            </div>
            <div class="col-md-4 animated fadeInUp">
              <img class="circle-service-image p-bottom-20" src="img/alojamento.svg" alt="">
              <h3>Alojamento</h3>
              <p class="smiley-symbol">Tiramos a massada à gestão do seu negócio online. Mantenha o foco no que sabe fazer melhor e nós o ajudamos com o resto</p>
            </div>

          </div>

          <div class="col-md-4 m-auto p-top-20 animated fadeInUp">
            <hr>
            <p class="center">
              Talento à sua espera. <a class="text-primary chevron-link" href="empresa.html">Conheça-nos melhor</a>
            </p>
          </div>

        </div>
      </div>



      <!-- <div class="parallax"></div> -->



      <div class="container p-top-40 p-bottom-100">

        <div class="blog-section p-top-60 p-bottom-40">
          <p><span>Docs &amp; Nerdices</span></p>
          <h1>Docs.</h1>
        </div>

        <div class="row blog-section">
          <div class="col-md-3">
            <a href="#">
              <h4>Web Frameworks</h4>
            </a>
            <p>Módulos, classes e métodos para transformar a sua forma de desenvolver <em>front</em> e <em>backend</em>.</p>
          </div>
          <div class="col-md-3">
            <a href="#">
              <h4>Crie Um Site Com o Django</h4>
            </a>
            <p>Documentação, em inglês, sobre como configurar uma web app utilizando o Django Framework.</p>
          </div>
          <div class="col-md-3">
            <a href="#">
              <h4>Conheça a Azinca</h4>
            </a>
            <p>Aprenda programação com conteúdo totalmente em língua portuguesa.</p>
          </div>
          <div class="col-md-3">
            <a href="#">
              <h4>Automação com Shellscript</h4>
            </a>
            <p>Trabalhe melhor e com maior rapidez com o uso scripts para automatizar tarefas constantes.</p>
          </div>
        </div>
      </div>



        <!-- FOOTER -->
        <footer class="bg-light">
          <div class="container">
            <p class="footer-copy">Ekletik Studios</p>
            <p class="footer-menu">
              <a href="#">Empresa</a>
              <a href="#">Portfolio</a>
              <a href="#">Apis</a>
              <a href="#">Docs</a>
              <a href="player.html">Música</a>
            </p>
            <p class="footer-social">
              <a target="_blank" href="https://github.com/ekletik/"><i class="fa fa-github"></i></a>
              <a target="_blank" href="https://www.youtube.com/channel/UCxAIq85nPCo1whr8KYwVJkA"><i class="fa fa-youtube-play"></i></a>
            </p>
          </div>
        </footer>



  <!-- Bootstrap 4 and jQuery-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script src="js/galeria.js"></script>

  <script type="text/javascript">
    $('.carousel').carousel({
        interval: 5000
    });
  </script>

  </body>
</html>
