<!DOCTYPE html>

<!--==========================

Author: Leo Neto
Site URL: https://ekletik.com
Date: August 18, 2017

==========================-->


<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Leo Neto @ Ekletik Studios">
    <link rel="icon" href="img/favicon.ico">
    <title>EK Studios</title>
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <!-- Google Fonts: Source Sans Pro and Open Sans -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,900,400,600|Encode+Sans" rel="stylesheet" type="text/css">
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="css/galeria.css">
  </head>


  <body>

        <!-- NAVIGATION -->
        <div class="white-w-border fixed-top" id="navigation">
            <!-- NAVIGATION BAR AND MENU -->
            <nav class="container navbar navbar-expand-lg navbar-light">
              <!-- <a class="navbar-brand" href="/">Ekletik <span>Studios</span></a> -->
              <a href="/" class="navbar-brand">
                <img src="img/icon-line-blue.png" width="30px" height="30px" alt="Ekletik.">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item"><a class="nav-link" href="empresa.html">Empresa</a></li>
                  <li class="nav-item"><a class="nav-link" href="portfolio.html">Portfolio</a></li>
                  <li class="nav-item"><a class="nav-link" href="docs.html">Docs</a></li>
                  <!-- <li class="nav-item"><a class="nav-link active" href="player.html">Música</a></li> -->
                  <li class="nav-item"><a class="nav-link" href="contact.html">Contacto</a></li>
                </ul>
                <form class="form-inline" method="POST" action="/results/">
                  <!-- {% csrf_token %} -->
                  <input class="form-control mr-sm-2" type="text" name="keyword" placeholder="Pesquisar..." aria-label="Search">
                  <button class="btn btn-outline-light" type="submit">
                    <i class="fa fa-search text-info"></i>
                  </button>
                </form>

              </div>
            </nav>
        </div>

      <!-- <div class="parallax parallax-office-3"></div> -->

      <div class="container p-top-100 p-bottom-40 heading">
        <h1 id="artistHeader" class="mainTitle">Artist Name</h1>
        <h3 id="albumHeader" class="subTitle">Album Title</h3>
      </div>

      <div class="container p-bottom-100">
        <div class="row">
            <!-- Album artwork -->
            <div class="col-md-3">
              <img class="img-fluid" id="artwork" src="" alt="">
              <!-- <span id="copyright"></span> -->
            </div>

            <!-- Songs -->
            <div id="mainTable" class="col-md-9">


              <table class="sortable table table-sm table-hover">
              <thead class="tableHead">
                <tr>
                  <th data-sort="name">Título</th>
                  <th data-sort="name">Artista</th>
                  <th data-sort="duration">Álbum</th>
                  <th class="hidden">Tempo</th>
                  <th>Áudio</th>
                </tr>
              </thead>

              <tbody class="tableBody" id="songList">
                <tr id="1" class="song" onclick="ClickedSong(this)">
                  <td>Make Me Believe</td>
                  <td>Joseph Solomon</td>
                  <td class="hidden">Make Me Believe - Single</td>
                  <td>3:25</td>
                  <td>
                    <button id="1" class="fa fa-play" type="button" onclick="togglePlay(this.id)">
                        <audio id="faixa-1" class="audio" src="https://ekletik.com/media/Music/Atlantico.m4a" onended="StopAudio(this.parentElement.id)"></audio>
                    </button>
                  </td>
                </tr>
                <tr id="2" class="song" onclick="ClickedSong(this)">
                  <td>Oh the Sweetness</td>
                  <td>Melissa Otto</td>
                  <td class="hidden">Blue Sky</td>
                  <td>3:12</td>
                  <td>
                    <button id="2" class="fa fa-play" type="button" onclick="togglePlay(this.id)">
                        <audio id="faixa-2" class="audio" src="https://ekletik.com/media/Music/Atlantico.m4a" onended="StopAudio(this.parentElement.id)"></audio>
                    </button>
                  </td>
                </tr>
                <tr id="3" class="song" onclick="ClickedSong(this)">
                  <td>A Stone Without Hands</td>
                  <td>The Lesser Light Collective</td>
                  <td class="hidden">The King Dreams</td>
                  <td>2:20</td>
                  <td>
                    <button id="3" class="fa fa-play" type="button" onclick="togglePlay(this.id)">
                        <audio id="faixa-3" class="audio" src="https://ekletik.com/media/Music/Atlantico.m4a" onended="StopAudio(this.parentElement.id)"></audio>
                    </button>
                  </td>
                </tr>
                <tr id="4" class="song" onclick="ClickedSong(this)">
                  <td>Canção de Quem Fica</td>
                  <td>Felipe Valente</td>
                  <td class="hidden">Reversos</td>
                  <td>4:25</td>
                  <td>
                    <button id="4" class="fa fa-play" type="button" onclick="togglePlay(this.id)">
                        <audio id="faixa-4" class="audio" src="https://ekletik.com/media/Music/Atlantico.m4a" onended="StopAudio(this.parentElement.id)"></audio>
                    </button>
                  </td>
                </tr>
                <tr id="5" class="song" onclick="ClickedSong(this)">
                  <td>Jeremias</td>
                  <td>Gabriel Iglesias</td>
                  <td class="hidden">Pedra em Carne</td>
                  <td>6:18</td>
                  <td>
                    <button id="5" class="fa fa-play" type="button" onclick="togglePlay(this.id)">
                        <audio id="faixa-5" class="audio" src="https://ekletik.com/media/Music/Atlantico.m4a" onended="StopAudio(this.parentElement.id)"></audio>
                    </button>
                  </td>
                </tr>
                <tr id="6" class="song" onclick="ClickedSong(this)">
                  <td>Everlasting</td>
                  <td>Eric &amp; Monique</td>
                  <td class="hidden">Everlasting</td>
                  <td>4:48</td>
                  <td>
                    <button id="6" class="fa fa-play" type="button" onclick="togglePlay(this.id)">
                        <audio id="faixa-6" class="audio" src="https://ekletik.com/media/Music/Atlantico.m4a" onended="StopAudio(this.parentElement.id)"></audio>
                    </button>
                  </td>
                </tr>
                <tr id="7" class="song" onclick="ClickedSong(this)">
                  <td>Stars</td>
                  <td>Alison Brook</td>
                  <td class="hidden">The Heart of the Matter</td>
                  <td>4:49</td>
                  <td>
                    <button id="7" class="fa fa-play" type="button" onclick="togglePlay(this.id)">
                        <audio id="faixa-7" class="audio" src="https://ekletik.com/media/Music/Atlantico.m4a" onended="StopAudio(this.parentElement.id)"></audio>
                    </button>
                  </td>
                </tr>
                <tr id="8" class="song" onclick="ClickedSong(this)">
                  <td>Away In a Manger</td>
                  <td>Scripture Says</td>
                  <td class="hidden">More Than Conqueror</td>
                  <td>4:12</td>
                  <td>
                    <button id="8" class="fa fa-play" type="button" onclick="togglePlay(this.id)">
                        <audio id="faixa-8" class="audio" src="https://ekletik.com/media/Music/Atlantico.m4a" onended="StopAudio(this.parentElement.id)"></audio>
                    </button>
                  </td>
                </tr>
                <tr id="9" class="song" onclick="ClickedSong(this)">
                  <td>Seu Nome</td>
                  <td>Alexandre Magnani</td>
                  <td class="hidden">Seu Nome - Single</td>
                  <td>3:12</td>
                  <td>
                    <button id="9" class="fa fa-play" type="button" onclick="togglePlay(this.id)">
                        <audio id="faixa-9" class="audio" src="https://ekletik.com/media/Music/Atlantico.m4a" onended="StopAudio(this.parentElement.id)"></audio>
                    </button>
                  </td>
                </tr>
                <tr id="10" class="song" onclick="ClickedSong(this)">
                  <td>Inevitável</td>
                  <td>Vocal Livre</td>
                  <td class="hidden">Bela História</td>
                  <td>5:18</td>
                  <td>
                    <button id="10" class="fa fa-play" type="button" onclick="togglePlay(this.id)">
                        <audio id="faixa-10" class="audio" src="https://ekletik.com/media/Music/Atlantico.m4a" onended="StopAudio(this.parentElement.id)"></audio>
                    </button>
                  </td>
                </tr>
                <tr id="11" class="song" onclick="ClickedSong(this)">
                  <td>Mais</td>
                  <td>Os Arrais</td>
                  <td class="hidden">Mais</td>
                  <td>5:20</td>
                  <td>
                    <button id="11" class="fa fa-play" type="button" onclick="togglePlay(this.id)">
                        <audio id="faixa-11" class="audio" src="https://ekletik.com/media/Music/Atlantico.m4a" onended="StopAudio(this.parentElement.id)"></audio>
                    </button>
                  </td>
                </tr>
              </tbody>

            </table>
            </div>
        </div>
      </div>


      <!-- FOOTER -->
      <footer class="bg-light">
        <div class="container">
          <p class="footer-copy">Ekletik Studios</p>
          <p class="footer-menu">
            <a href="#">Empresa</a>
            <a href="#">Portfolio</a>
            <a href="#">Apis</a>
            <a href="#">Docs</a>
            <!-- <a href="player.html">Música</a> -->
          </p>
          <p class="footer-social">
            <a target="_blank" href="https://github.com/ekletik/"><i class="fa fa-github"></i></a>
            <a target="_blank" href="https://www.youtube.com/channel/UCxAIq85nPCo1whr8KYwVJkA"><i class="fa fa-youtube-play"></i></a>
          </p>
        </div>
      </footer>


  <!-- Bootstrap 4 and jQuery-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script src="js/galeria.js"></script>
  <script src="js/player.js"></script>
  <script src="js/playMe.js"></script>


  </body>
</html>
